<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318341667651-u65ftogajinpachb5ajk346coh576l83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318341667651-u65ftogajinpachb5ajk346coh576l83</string>
	<key>API_KEY</key>
	<string>AIzaSyAt82vE4wheeXbvui35sqhfwOq1dYnS0yk</string>
	<key>GCM_SENDER_ID</key>
	<string>318341667651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-af89</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-af89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318341667651:ios:c3bfef9f9eee498d15adf6</string>
</dict>
</plist>